@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poiret+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
  --box-shadow: rgba(148, 163, 184, 0.25);
  --light-black: rgba(2, 6, 23, 0.251);
  --super-light-black: #02061726;
  --medium-black: rgba(2, 6, 23, 0.75);
  --button-light: rgba(2, 6, 23, 0.75);
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
}

#content {
  min-height: 100vh;
  background-color: var(--slate-100);
}

.navbar {
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  height: 8.5vh;
}

.navbar > button {
  flex: 1;
  border: none;
  background-color: var(--slate-50);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 12px;
  color: var(--light-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.navbar > button > svg {
  fill: var(--light-black);
}

.active {
  color: var(--slate-950) !important;
}

.active > svg {
  fill: var(--slate-950) !important;
}

#home-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--slate-50);
  margin-bottom: 3rem;
  align-items: center;
}

#home-header > h3 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#home-header > button > svg {
  fill: var(--light-black);
}

#notification-button {
  position: relative;
}

.new-notification {
  height: 12px;
  width: 12px;
  background-color: #3b82f6;
  position: absolute;
  right: 1px;
  top: 1px;
  border-radius: 50%;
}

#new-value {
  background-color: var(--slate-50);
}

#input-value {
  display: flex;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  align-items: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#input-value::-webkit-scrollbar {
  display: none;
}

#input-value > p {
  font-size: 32px;
  margin-bottom: 0.4rem;
}

#home-main {
  background-color: var(--slate-50);
  width: 100vw;
  padding: 3rem 2rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 4px var(--box-shadow);
}

#input-value > input {
  border: none;
  font-size: 56px;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--slate-50);
  width: 100%;
}

#input-value > input::placeholder {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
}

#input-value > input:focus {
  outline: none;
}

#new-value > label {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--light-black);
  font-size: 24px;
}

#add-participants-button {
  border: 1px solid var(--medium-black);
  background-color: var(--slate-50);
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-participants-button > svg {
  fill: var(--medium-black);
}

#home-divide-button {
  width: 100%;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  background: linear-gradient(45deg, var(--button-light), var(--slate-950));
  border-radius: 8px;
  color: var(--slate-50);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  gap: 0.5rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  position: relative;
  border: 2px solid var(--slate-950);
}

.transparent-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

#participants {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
}

.participant-photo {
  width: 48px;
  border-radius: 100%;
  margin-left: -1.2rem;
}

#add-participants-container {
  position: absolute;
  width: 100%;
  z-index: 3;
  min-height: 100vh;
}

.add-participants-back-button {
  background-color: var(--slate-50);
  padding: 0 0.5rem;
  border: 0;
}

#add-participants-container > header {
  background-color: var(--slate-50);
  display: flex;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 1.2rem 1rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  flex-direction: column;
}

#add-participants-container > header > .add-participants-screen-label {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

#add-participants-container > header > .add-participants-screen-label > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#add-participants-container
  > header
  > .add-participants-screen-label
  > div
  > p:nth-of-type(1) {
  color: var(--light-black);
}

.participants-label {
  display: flex;
  justify-content: space-between;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  align-items: center;
}

.clear-array-button {
  border: none;
  background-color: transparent;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--red-500);
}

.participants-array-pictures {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-top: 1rem;
  overflow-x: scroll;
  display: flex;
  gap: 1.2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 2rem;
}

.participants-array-pictures::-webkit-scrollbar {
  display: none;
}

.participant-picture {
  width: 4rem;
  position: relative;
}

.participant-picture > img {
  width: 4rem;
  border-radius: 12px;
}

.remove-participant-button {
  position: absolute;
  bottom: 0;
  right: -8px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--slate-50);
  border-radius: 100%;
  background-color: var(--slate-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.participant:first-child .remove-participant-button {
  display: none;
}

.participant {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.participant-name {
  width: 4rem;
  text-align: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.search-friend-input-container {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  background-color: var(--slate-50);
  align-items: center;
  border: 1px solid var(--light-black);
  border-radius: 8px;
  margin-bottom: 0.6rem;
}

.search-friend-input {
  flex: 1;
  width: 100%;
  background-color: var(--slate-50);
  border: none;
  font-size: 16px;
  height: 24px;
}

.search-friend-input::placeholder {
  color: var(--light-black);
}

.search-friend-input:focus {
  outline: none;
}

.friend {
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  background-color: var(--slate-50);
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  margin-bottom: 1rem;
}

.friend:last-of-type {
  margin-bottom: 6.2rem;
}

.friend-picture {
  width: 48px;
  border-radius: 12px;
}

.friend > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.friend-name-container {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.friend-name-container > p:first-of-type {
  color: var(--slate-950);
}

.friend-name-container > p:nth-of-type(2) {
  color: var(--light-black);
}

.friend-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--slate-200);
  cursor: pointer;
  position: relative;
  outline: none;
  transition: background-color 0.3s ease;
}

.friend-checkbox:checked {
  background-color: #4caf50;
}

.friend-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--slate-50);
}

.friend-checkbox:focus {
  outline: none;
}

#friends-list-label {
  display: block;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--medium-black);
}

#accept-participants {
  width: calc(100% - 2rem);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg, var(--button-light), var(--slate-950));
  color: var(--slate-50);
  justify-content: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  height: 4rem;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  border: 2px solid var(--slate-950);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  gap: 0.5rem;
}

#bill-spliting-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  min-width: 100vw;
}

.bill-spliting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  background-color: var(--slate-50);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 1.2rem 1rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: fixed;
  width: 100vw;
  z-index: 4;
}

.bill-spliting-header > .left-container > div > p:first-child {
  color: var(--light-black);
}

.bill-spliting-back-button {
  background-color: var(--slate-50);
  padding: 0 0.5rem;
  border: 0;
}

.left-container {
  display: flex;
  gap: 0.5rem;
}

.value-to-split {
  display: flex;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  padding-right: 0.5rem;
  align-items: flex-end;
}

.currency {
  font-size: 20px;
  margin-bottom: 0.3rem;
}

.bill-info {
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  padding: 2rem 0rem;
  max-width: 100%;
  margin-top: 5.5rem;
}

.bill-input-container {
  border: 1px solid var(--light-black);
  border-radius: 8px;
  display: flex;
  padding: 0.4rem 0.5rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.bill-input {
  background-color: var(--slate-100);
  border: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--medium-black);
  width: 100%;
  margin-left: 0.5rem;
}

.bill-input-container > svg {
  width: 28px;
  display: flex;
  justify-content: center;
}

.bill-input:focus {
  outline: none;
}

.bill-input::placeholder {
  color: var(--medium-black);
}

#second-line {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

#edit-participants-button {
  background-color: var(--slate-50);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  margin-bottom: 0.25rem;
}

.separation-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    45deg,
    var(--slate-100),
    var(--slate-300),
    var(--slate-100)
  );
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.circle {
  background-color: var(--slate-50);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.circle > svg {
  z-index: 3;
}

#participants-parts {
  background-color: var(--slate-50);
  padding-top: 2rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  flex: 1;
}

.participant-split {
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  border-bottom: 1px solid var(--light-black);
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.participant-split:last-of-type {
  border-bottom: none;
  margin-bottom: 6.2rem;
}

.participant-picture-split-page {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: -9px;
}

#participants-pictures-split-page {
  display: flex;
  align-items: center;
}

.participant-picture-split {
  width: 48px;
  border-radius: 12px;
}

.upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.upper-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 2;
}

.participant-percentage-value-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.participant-percentage-value-container > p {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.percentage-container {
  display: flex;
  font-size: 16px;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
}

.percentage-value {
  width: auto;
  font-size: 20px;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  width: 4rem;
  background-color: var(--slate-50);
}

.percentage-value:focus {
  outline: none;
}

.participant-raw-value-container {
  display: flex;
  align-items: center;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  background-color: var(--slate-50);
  font-size: 16px;
  flex: 1;
}

.participant-currency {
  align-self: flex-end;
  margin-bottom: 0.75rem;
}

.raw-value {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  background-color: var(--slate-50);
  font-size: 28px;
  width: 100%;
  text-align: right;
}

.raw-value:focus {
  outline: none;
}

.lower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

.participant-range {
  flex: 2;
  height: 2px;
  outline: none;
}

.lock-participant {
  border: none;
  background-color: var(--slate-50);
}

.disabled-slider {
  -webkit-appearance: none;
  appearance: none;
  background: var(--light-black);
}

.disabled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--light-black);
  border-radius: 50%;
  cursor: pointer;
}

#create-bill-button {
  width: calc(100% - 4.4rem);
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  background: linear-gradient(45deg, var(--button-light), var(--slate-950));
  border-radius: 8px;
  color: var(--slate-50);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  gap: 0.5rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  position: fixed;
  border: 2px solid var(--slate-950);
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.labels > label {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--medium-black);
}

.labels > div > input::placeholder {
  color: var(--light-black);
}

#payment-select {
  background-color: var(--slate-100);
  border: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: scroll;
}

#payment-select:focus {
  outline: none;
}

#split-error-message {
  background-color: var(--slate-100);
  position: fixed;
  bottom: 8rem;
  width: 85%;
  padding: 1rem 1rem;
  border: 1px solid var(--slate-950);
  border-radius: 4px;
  transform: translateX(-50%);
  left: 50%;
  display: none;
  border-left: 8px solid var(--slate-950);
}

#split-error-message > div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.error-message-title {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  flex: 1;
}

.error-message {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: scroll;
  font-size: 14px;
  color: var(--slate-500);
  margin-left: 2.75rem;
  overflow: hidden;
}

#friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--slate-50);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 2rem 2rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 100vw;
  z-index: 4;
}

#friends-main-buttons-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  gap: 1.5rem;
  padding: 2rem 0;
}

#friends-main-buttons-container > button {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 4px var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 6vh;
}

#friend-requests-button {
  background-color: var(--slate-50);
  color: var(--slate-950);
}

#add-friends-button {
  background-color: var(--slate-950);
  color: var(--slate-50);
}

.buttons-line {
  background: linear-gradient(
    45deg,
    var(--slate-100),
    var(--slate-300),
    var(--slate-100)
  );
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0.5rem;
}

.no-friends-added {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.no-friends-added > p {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: var(--light-black);
  width: 90%;
  line-height: 1.8rem;
}

.friends-screen-friend {
  display: flex;
  justify-content: space-between;
  background-color: var(--slate-50);
  padding: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  height: 4.5rem;
  margin-bottom: 1rem;
}

.friends-screen-friend > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.name-and-username {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.friend-name {
  color: var(--slate-950);
}

.friend-username {
  color: var(--light-black);
}

.friends-screen-friend > div > img {
  width: 48px;
  border-radius: 12px;
}

.friends-screen-friend > button {
  background-color: var(--slate-50);
  border: none;
  padding: 0.5rem 0.5rem;
}

.delete-friend-button > svg:hover {
  fill: var(--slate-950);
}

button {
  cursor: pointer;
}

.add-friend-back-button {
  background-color: var(--slate-50);
  padding: 0 0.5rem;
  border: 0;
}

.add-friend-screen-label {
  display: flex;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.friend-requests-screen-label {
  display: flex;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  gap: 0.5rem;
}

#add-friend-header {
  background-color: var(--slate-50);
  padding: 1.2rem 1rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 2rem;
  width: 100vw;
}

#friend-requests-header {
  background-color: var(--slate-50);
  padding: 1.2rem 1rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 100vw;
}

.search-users-input-container {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  background-color: var(--slate-50);
  align-items: center;
  border: 1px solid var(--light-black);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.search-user-input {
  flex: 1;
  width: 100%;
  background-color: var(--slate-50);
  border: none;
  font-size: 16px;
  height: 24px;
}

.search-user-input::placeholder {
  color: var(--light-black);
}

.search-user-input:focus {
  outline: none;
}

#user-results {
  width: 100vw;
  background-color: var(--slate-50);
  min-height: 70vh;
  margin-top: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 4px var(--box-shadow);
  padding: 1.2rem 1rem;
}

.no-users-searched,
.no-users-found,
.no-requests {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 40%;
}

.no-users-searched > p,
.no-users-found > p,
.no-requests > p {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: var(--light-black);
  width: 90%;
  line-height: 1.8rem;
}

.user-searched > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.friend-name {
  color: var(--slate-950);
}

.friend-username {
  color: var(--light-black);
}

.user-searched > div > img {
  width: 48px;
  border-radius: 12px;
}

.user-searched > button {
  background-color: var(--slate-50);
  border: none;
  padding: 0.5rem 0.5rem;
}

.user-searched {
  display: flex;
  justify-content: space-between;
  background-color: var(--slate-50);
  padding: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  height: 4.5rem;
  margin-bottom: 1rem;
}

.user-full-name {
  color: var(--slate-950);
}

.user-username {
  color: var(--light-black);
}

#content > div {
  position: absolute;
  background-color: var(--slate-100);
}

.friend-request {
  display: flex;
  justify-content: space-between;
  background-color: var(--slate-50);
  padding: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  height: 4.5rem;
  margin-bottom: 1rem;
}

.friend-request > div > img {
  width: 48px;
  border-radius: 12px;
}

.friend-request > div > button {
  background-color: var(--slate-50);
  border: none;
  padding: 0.5rem 0.5rem;
}

.friend-request > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  padding-right: 0.5rem;
}

#friend-requests-header {
  margin-bottom: 1.5rem;
}

.full-name-and-date {
  display: flex;
  gap: 0.5rem;
}

.request-date {
  color: var(--light-black);
}

.buttons-div {
  gap: 0.5rem !important;
}

.friend-requests-back-button {
  background-color: var(--slate-50);
  padding: 0 0.5rem;
  border: 0;
}

#login-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--slate-50);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: var(--slate-50) !important;
}

#signup-page > * {
  max-width: 500px;
}

#signup-page {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--slate-50);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: var(--slate-50) !important;
}

#login-page > * {
  max-width: 500px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5vh;
}

#porkin-icon {
  margin-bottom: 1.5rem;
}

#hero-line-1 {
  font-size: 24px;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--slate-950);
  margin-bottom: 0.75rem;
}

#hero-line-2 {
  font-size: 14px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--medium-black);
  margin-bottom: 2rem;
}

.social-icon {
  width: 24px;
}

.socials-buttons > button {
  width: 25%;
  height: 3.25rem;
  border-radius: 8px;
  border: none;
  background-color: var(--slate-50);
  box-shadow: 0 4px 4px var(--box-shadow);
  flex: 1;
}

.socials-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  width: 82.5%;
}

.or-line {
  width: 100%;
  height: 1px;
  background-color: var(--super-light-black);
}

.or-lines {
  width: 82.5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.or-lines > p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--medium-black);
  font-size: 14px;
}

#login-info-container > label,
#signup-info-container > label {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

#email-input {
  background-color: var(--slate-50);
  border: none;
  height: 100%;
  font-size: 15px;
  border-radius: 8px;
  text-indent: 1rem;
  width: 100%;
}

#email-input:focus {
  outline: none;
}

.password-input-container,
.full-name-input-container,
.username-input-container,
.email-input-container,
.pix-input-container,
.paypal-input-container {
  background-color: var(--slate-50);
  border: 1px solid var(--light-black);
  height: 40px;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.password-input-container > button > img {
  width: 24px;
  margin-right: 1rem;
}

.password-input-container > button {
  background-color: var(--slate-50);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#password-input,
#full-name-input,
#username-input,
#pix-input,
#paypal-input {
  background-color: var(--slate-50);
  border: none;
  height: 100%;
  font-size: 15px;
  border-radius: 8px;
  text-indent: 1rem;
  width: 100%;
}

#password-input:focus {
  outline: none;
}

#login-info-container,
#signup-info-container {
  margin-left: auto;
  margin-right: auto;
  width: 82.5%;
  display: flex;
  flex-direction: column;
}

#forgot-password-button {
  align-self: flex-end;
  background-color: var(--slate-50);
  border: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.final-line {
  width: 100%;
  height: 0.5px;
  background-color: var(--super-light-black);
}

#login-button {
  width: 82.5%;
  background: linear-gradient(180deg, var(--button-light), var(--slate-950));
  height: 6%;
  min-height: 48px;
  color: var(--slate-50);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid var(--slate-950);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 0.25rem;
}

#signup-button {
  width: 82.5%;
  background: linear-gradient(180deg, var(--button-light), var(--slate-950));
  min-height: 48px;
  height: 6vh;
  color: var(--slate-50);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid var(--slate-950);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 0.25rem;
}

#go-to-signup-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82.5%;
  height: 6%;
  background-color: var(--slate-50);
  border: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 4rem;
}

#go-to-signup-button > span {
  font-weight: 600;
  text-indent: 0.25rem;
}

#go-to-login-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  width: 82.5%;
  height: 6vh;
  background-color: var(--slate-50);
  border: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 4rem;
}

#go-to-login-button > span {
  font-weight: 600;
  text-indent: 0.25rem;
}

.password-input-container-from-signup-page {
  margin-bottom: 2.5rem;
}

#history-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  min-height: 48px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: none;
  background-color: var(--slate-50);
  box-shadow: 0 4px 4px var(--box-shadow);
  margin-top: 2rem;
  gap: 0.5rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.admin-bill-name-value {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.admin-bill-name-value > div > img {
  width: 28px;
  border-radius: 50%;
}

.admin-bill-name-value > div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.bill-name {
  font-size: 16px;
}

.bill {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--slate-50);
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  padding: 1.2rem 1.6rem;
  flex-direction: column;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.delete-container {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  border-radius: 16px;
  padding: 0.25rem;
  padding-right: 0.5rem;
}

.delete-bill-button {
  background-color: var(--slate-50);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-radius: 8px;
  gap: 0.5rem;
  margin-right: 1rem;
  padding: 0.25rem 1rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--light-black);
}

.hide-name {
  display: none;
}

.bill:last-of-type {
  margin-bottom: 6rem;
}

.participant-value-container {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  gap: 0rem !important;
}

.participant-value-currency {
  font-size: 16px;
  align-self: flex-end;
  margin-bottom: 0.25rem;
}

.participant-value-quantity {
  font-size: 32px;
}

.pay-date {
  font-size: 14px;
  color: var(--light-black);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.pay-button {
  background-color: var(--slate-50);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 0.5rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  width: 50%;
  min-height: 32px;
  border-radius: 8px;
}

.pay-button-finished {
  background-color: var(--slate-50);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 0.5rem;
  min-height: 32px;
  border-radius: 8px;
  color: #0ea5e9;
}

.hidden {
  display: none;
}

.bill-participant-pictures {
  display: flex;
}

.bill-participant-pictures > img {
  width: 28px;
  border-radius: 50%;
  margin-left: -0.75rem;
}

.pay-button-and-participants {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bill-line {
  height: 0.5px;
  width: 100%;
  background-color: var(--super-light-black);
  margin-top: 1.5rem;
}

.see-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  background-color: var(--slate-50);
  border: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--light-black);
}

.details-payment {
  display: flex;
  font-size: 14px;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
  border: 1px solid var(--super-light-black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  width: fit-content;
}

.details-payment > p > span {
  color: var(--light-black) !important;
}

.person > div > img {
  width: 24px;
  border-radius: 50%;
}

.person-div-1 {
  display: flex;
  gap: 0.75rem;
  font-size: 14px;
  align-items: center;
}

.person {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--super-light-black);
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.person:first-of-type {
  margin-top: 2rem;
}

.person:last-of-type {
  border: none;
}

.person-div-2 {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
}

.person-currency {
  font-size: 12px;
  align-self: flex-end;
  margin-bottom: 0.15rem;
}

.person-value {
  font-size: 24px;
}

.details {
  display: none;
}

.photo-section > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  gap: 0.25rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.photo-section > img {
  width: 80px;
  border-radius: 50%;
}

.photo-section {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
}

.change-picture-button {
  background: linear-gradient(180deg, var(--button-light), var(--slate-950));
  border: 1px solid var(--slate-950);
  box-shadow: 0 4px 4px var(--box-shadow);
  color: var(--slate-50);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 13.5px;
}

.remove-picture-button {
  background-color: transparent;
  border: none;
}

.photo-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 1;
}

.full-name-input-container > button,
.username-input-container > button,
.email-input-container > button,
.pix-input-container > button,
.paypal-input-container > button {
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent {
  background-color: transparent !important;
}

#change-password-button {
  width: 82.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 6vh;
  border-radius: 8px;
  border: none;
  background-color: var(--slate-50);
  box-shadow: 0 4px 4px var(--box-shadow);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  gap: 0.5rem;
  font-size: 14px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#logout-button {
  width: 82.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 6vh;
  border-radius: 8px;
  border: none;
  background-color: var(--slate-950);
  box-shadow: 0 4px 4px var(--box-shadow);
  color: var(--slate-50);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  gap: 0.5rem;
  font-size: 14px;
  margin-top: 1.75rem;
  margin-bottom: 2rem;
}

#delete-account-button {
  width: 82.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 6vh;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: var(--red-500);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  gap: 0.5rem;
  font-size: 14px;
  margin-top: -0.5rem;
  margin-bottom: 6rem;
}

.change-password-fields {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem 2rem;
  background-color: var(--slate-50) !important;
  border-radius: 16px;
  box-shadow: 0 4px 4px var(--box-shadow);
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
}

.change-password-fields > img {
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.change-password-fields > label {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
}

.change-password-fields > h1 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 1rem;
}

.reset-password {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  height: 6vh;
  margin-top: 1.5rem;
  background: linear-gradient(0deg, var(--button-light), var(--slate-950));
  color: var(--slate-50);
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.reset-password-container {
  margin-bottom: 1rem;
}

#full-height {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.step {
  background-color: var(--super-light-black);
  height: 0.5rem;
  flex: 1;
  border-radius: 8px;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.selected {
  background-color: var(--slate-950);
}

.send-again {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  align-self: flex-end;
  text-decoration: underline;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.success-message {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.photo-section > div > label {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.photo-section > div {
  align-items: flex-start;
  padding: 0.5rem 0;
}

#bills-history-header {
  background-color: var(--slate-50);
  padding: 1.2rem 1rem;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 2rem;
  width: 100vw;
}

.add-friend-screen-label {
  display: flex;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.bills-history-screen-label {
  display: flex;
  align-items: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  gap: 0.5rem;
}

#bill-date-select > option {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#bill-date-select {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 2.5rem;
}

#bill-date-select:focus {
  outline: none;
}

.select-line {
  height: 0.5px;
  width: 85%;
  background-color: var(--super-light-black);
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#bills-history-screen {
  padding: 0 1rem;
}

#total-spent > p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--light-black);
  margin-bottom: 0.5rem;
}

#total-spent > div {
  display: flex;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
}

#total-spent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.total-spent-currency {
  font-size: 32px;
  align-self: flex-end;
  margin-bottom: 0.35rem;
}

.total-spent-value {
  font-size: 56px;
}

.history-bill {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--slate-50);
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  box-shadow: 0 4px 4px var(--box-shadow);
  margin-bottom: 1rem;
}

.history-bill-left > img {
  width: 32px;
  border-radius: 50%;
}

.history-bill-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.history-bill-left > div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.history-bill-right {
  display: flex;
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
  align-self: flex-end;
}

.history-bill-date {
  color: var(--light-black);
}

.history-bill-value {
  font-size: 24px;
}

.history-bill-currency {
  align-self: flex-end;
  margin-bottom: 0.125rem;
  font-size: 12px;
}

.notification {
  display: flex;
  background-color: var(--slate-50);
  padding: 1rem 1.2rem 1rem 1rem;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 4px 4px var(--box-shadow);
  border-left: 4px solid #3b82f6;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.notification-left {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
}

.notification-title {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 4px;
}

.notification-message {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--medium-black);
}

#notifications-container {
  padding: 0rem 1.2rem;
}

.notification-circle {
  width: 12px;
  height: 12px;
  background-color: #3b82f6;
  border-radius: 50%;
  margin-right: 1rem;
}

.notification-bill-name {
  color: black;
  font-weight: 500;
}

#notification-button {
  background-color: transparent;
  border: none;
}
